<h1>Training Date: <%= @training.date.strftime("%b %e, %Y") %></h1>

<h3>Notes: </h3><%= @training.notes %>
<h3>Prep Activity: </h3><%= @training.activity.name %>
<h3>Test: </h3><%= @training.test.name %>