<h2>Study Session Details</h2>

<% current_user.study_session.each do |session| %>
    <%= session.date %>
    <br></br>
    <%= session.rating %> (1=poor, 5=great)
    <br></br>
    <%= session.comments %>

    <% end %>