<br></br>
<h1><%= current_user.username %>'s Info</h1>

<h3>Email: </h3><%= current_user.email %>

<h3>Prepping for these tests: </h3><%= current_user.tests.name %>

<h3>Preferred types of prep activities: </h3><%= current_user.activities.name %>